.main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.page-hdr, .page-footer {
  flex: none;
}

.page-footer {
  background: midnightblue;
}

.page-content {
  flex: 1;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;

  background: #000000;
}

.page-hdr {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;

  background: midnightblue;
  color: #ffffff;
}

.page-buttons {
  flex: none;
}

.page-title {
  flex: 1;

  .medium({
    font-size: large !important;
  });

  .small({
    font-size: medium !important;
  });
}

.event-list-container, .no-events-msg {
  flex: none;
}

.event-list-container {
  overflow-y: auto;
}

.no-events-msg {
  color: #ffffff;
  align-self: center;
}

.event-panel {
  min-width: 40rem;

  .small({
    min-width: 10rem !important;
  });
}

.event-panel-row-mb1 {
  .mb1 !important;
}

.event-panel-row {
  flex-wrap: nowrap !important;

  .small({
    flex-direction: column !important;
    align-items: flex-start !important;
  });
}

.event-time {
  color: darkblue;
}

.new-event-panel {
  animation: zatuh 7s;
}

@keyframes zatuh {
  0% {
    background-color: lightcoral;
  }
  100% {
    background-color: #ffffff;
  }
}

.itc-logo {
  float: left;
  height: 38px;

  font-size: 18px;
  line-height: 20px;

  margin-left: 5px;
  margin-top: 5px;
}
