.main-container.vh100.vw100
  .page-hdr.p1
    .page-title.text-xlarge Система Акустического Мониторинга
    .page-buttons
      button.btn.btn-default(ng-click="onClearBtnClick()") Очистить протокол
  .page-content
    .event-list-container.p1(ng-show="events.length > 0")
      .panel.panel-default(ng-repeat='event in events')
        .panel-body Basic panel example {{event.id}}
    .no-events-msg.text-xlarge.p1(ng-hide="events.length > 0") Нет данных
  footer.page-footer.text-center Copyright &copy; 2015-2016 &mdash;&nbsp;
    a(href="http://sarov-itc.ru/", target="_blank") ИТЦ Система-Саров
