.main-container.vh100.vw100
  .page-hdr.p1
    .page-title.text-xlarge Видео-акустический контроль
  .page-content
    .event-list-container.p1(ng-show="events.length > 0")
      event-card(ng-repeat="event in events | orderBy:'timestamp':true",
      event="event", delete-event="deleteEvent(event)")
    .no-events-msg.text-xlarge.p1(ng-hide="!isEventsLoaded || events.length > 0") Нет событий
  footer.page-footer.plr1
    .itc-logo-container
      a.itc-logo(href='http://sarov-itc.ru/', target="_blank")
        img(src="assets/images/logo.png", alt="лого")
    //.event-pagination(ng-show="events.length > 0 && totalEventCount > eventsPerPage")
    //  .pagination-ctrl(uib-pagination='', total-items='totalEventCount', ng-model='curPageNum',
    //  items-per-page='eventsPerPage', max-size='5',
    //  boundary-link-numbers='true', rotate='false',
    //  next-text="Вперёд", previous-text="Назад",
    //  ng-change="onPageNumChanged()")
    .page-buttons
      button.btn.btn-danger.clear-big-btn(
      ng-click="onClearAllBtnClick()", ng-disabled="!events || events.length === 0")
        | Очистить протокол
      button.btn.btn-danger.clear-small-btn(
      ng-click="onClearAllBtnClick()", ng-disabled="!events || events.length === 0")
        i.fa.fa-trash
