.main-container.vh100.vw100
  .page-hdr.p1
    .page-title.text-xlarge Система Акустического Мониторинга
    .page-buttons
      button.btn.btn-danger(ng-click="onClearAllBtnClick()", ng-disabled="!events || events.length === 0")
        i.fa.fa-trash
  .page-content
    .event-list-container.p1(ng-show="events.length > 0")
      .panel.panel-default.event-panel(ng-repeat="event in events | orderBy:'timestamp':true",
      id="event{{event.id}}", ng-class="{'new-event-panel': event.isNew, 'del-event-panel': event.isBeingDeleted}")
        .panel-body.event-panel-body
          .Grid.Grid--center.event-panel-row.event-panel-row-mb1
            .Grid-cell.bold.nowrap Акустическая тревога
            .Grid-cell.event-time {{ event.timestamp | date:'HH:mm:ss &nbsp; dd.MM.yyyy' }}
          .Grid.Grid--center.Grid--1of4.event-panel-row.event-panel-row-mb1
            .Grid-cell.bold Объект:
            .Grid-cell {{ OBJECT_NAME }}
            .Grid-cell.bold Устройство:
            .Grid-cell {{ event.device }}
          .Grid.Grid--center.Grid--1of4.event-panel-row.event-panel-row-mb1
            .Grid-cell.bold Событие:
            .Grid-cell {{ event.class }}
            .Grid-cell.bold SNR:
            .Grid-cell {{ event.snr | number : 2 }}
          .Grid.Grid--center.Grid--1of4.event-panel-row
            .Grid-cell.bold Длина:
            .Grid-cell {{ event.duration | number : 2 }}
            .Grid-cell.bold Направление:&nbsp;
            .Grid-cell {{ event.direction | number : 2 }}
          button.btn.btn-danger.del-event-btn(ng-click="onDelBtnClick(event)")
            i.fa.fa-trash
    .no-events-msg.text-xlarge.p1(ng-hide="!isEventsLoaded || events.length > 0") Нет событий
  footer.page-footer
    a.itc-logo(href='http://sarov-itc.ru/', target="_blank")
      img(src="assets/images/logo.png", alt="лого")
